<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Message</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Add New Pair</h3>
    <hr/>

    <form th:action="@{/api/db/admin/save}" th:object="${messages}" method="POST">

        <input type="text" th:field="*{language}" class="form-control col-4 mb-4" placeholder="Enter Language" />

        <input type="text" th:field="*{message}" class="form-control col-4 mb-4" placeholder="Enter Message" />

        <button type="submit" class="btn btn-primary col-2">Save</button>

    </form>
    <hr/>
    <a th:href="@{/api/db/admin}">Back to list</a>
</div>

</body>
</html>