<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>

<h2>Translations:</h2>

<h3><a th:href="@{/api/db/secure/hello/bosnian}">Bosnian</a>, <a th:href="@{/api/db/secure/hello/dutch}">Dutch</a>, <a th:href="@{/api/db/secure/hello/finnish}">Finnish</a>,
    <a th:href="@{/api/db/secure/hello/french}">French</a>, <a th:href="@{/api/db/secure/hello/german}">German</a>, <a th:href="@{/api/db/secure/hello/norwegian}">Norwegian</a>,
    <a th:href="@{/api/db/secure/hello/romanian}">Romanian</a>, <a th:href="@{/api/db/secure/hello/spanish}">Spanish</a>, <a th:href="@{/api/db/secure/hello/danish}">Danish</a>,
    <a th:href="@{/api/db/secure/hello/latvian}">Latvian</a>
</h3>
<p>
    You can see more translations by visiting <strong>localhost:8080/api/db/secure/hello/{language}</strong> (if translation is in the database)
</p>

<h2><a th:href="@{/api/db/admin}">Admin page</a></h2>

<h2>
    <a th:href="@{/readme}">Instructions</a>
</h2>

<h2><a th:href="@{/hello}">Sign out</a></h2>

</body>
</html>