<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>README</title>
</head>
<body>
<h1>Instructions Page</h1>

<p>
  Press any link on the welcome page to sign in
  <br>
  There are two users:
  <br>
  -regular user (username: user, password: password)
  <br>
  -admin (username: admin, password: password)
  <br>
  The regular user can access the <strong>translations, instructions, sign out page, /api/db/hello-rest endpoint and the external API /api/external/{name}</strong> which guesses the gender based on the name the user inputs
  <br>
  Admin can access <strong>all the previously mentioned pages and also the admin page, there the admin can view all the language-message pairs and also add pairs</strong>
</p>
</form>
</body>
</html>